# Data and ML Artifacts
data/
*.npy
*.csv
*.pt
*.pkl

# Allow specific data files needed for deployment
!data/artworks_with_index.csv
!data/embeddings.npy
!data/image_embeddings_clip.npy
!data/clip_index.csv

# Specific Scripts
src/eda.py

# Tracking and Logs
wandb/

# Python Environment
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
art_env/

# Mac OS
.DS_Storeart_env/

src/job_*.yaml
